.carousel-indicators li,
.carousel-indicators li.active {
  height: 18px;
  width: 18px;
  border-width: 2px;
  position: relative;
}

a.carousel-control:focus,
.carousel-indicators li.active.focus {
  outline: yellow solid 2px;
}