.carousel-indicators li,
.carousel-indicators li.active {
  height: 18px;
  width: 18px;
  border-width: 2px;
}

.carousel-indicators li.active.focus {
  background-color: #202020;
  border-width: 5px;
}