.carousel-indicators li,
.carousel-indicators li.active {
  height: 18px;
  width: 18px;
  border-width: 2px;
  position: relative;
  box-shadow: 0px 0px 0px 1px #808080;
  -moz-boxshadow: 0px 0px 0px 1px #808080;
  -webkit-boxshadow: 0px 0px 0px 1px #808080;
}

.carousel-indicators li.active {
  box-shadow: 0px 0px 0px 2px #000000;
  -moz-boxshadow: 0px 0px 0px 2px #000000;
  -webkit-boxshadow: 0px 0px 0px 2px #000000;
}

a.carousel-control:focus,
.carousel-indicators li.active.focus {
  outline: 2px solid yellow;
  box-shadow: 0px 0px 0px 1px #000000;
  -moz-boxshadow: 0px 0px 0px 1px #000000;
  -webkit-boxshadow: 0px 0px 0px 1px #000000;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
